/* WeatherApp.css */
.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .weather-header {
    font-size: 2em; /* Adjusted via media query for smaller screens */
    margin-bottom: 20px;
  }
  
  .weather-info {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .weather-content {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    white-space: pre-wrap;
    text-align: left;
    width: 100%;
    max-width: 800px; /* Width is controlled for larger screens, and 100% on smaller screens */
    overflow-wrap: break-word; /* Ensures that long words are broken and wrapped to the next line */
  }
  
  .loading-error {
    font-size: 1.5em; /* Adjusted via media query for smaller screens */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .weather-container {
      padding: 10px; /* Smaller padding on smaller screens */
    }
  
    .weather-header, .loading-error {
      font-size: 1.5em; /* Smaller font size for smaller screens */
    }
  
    .weather-content {
      padding: 15px; /* Smaller padding within the content box */
      width: calc(100% - 30px);
    }
  }
  